DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=your_jwt_expiration

INTERNAL_SERVICE_KEY=your_internal_service_key

CONSUL_HOST=consul
CONSUL_PORT=8500

OTEL_EXPORTER_OTLP_ENDPOINT=your_otlp_endpoint

AUTH_ADMIN_USERNAME=your admin username
AUTH_ADMIN_EMAIL=your admin email
AUTH_ADMIN_PASSWORD=your admin password

AUTH_DB_URL=...
STUDENT_DB_URL=...
COURSE_DB_URL=...
EMPLOYEE_DB_URL=...
BATCH_DB_URL=...
COURSE_ASSIGNMENT_DB_URL=...
STUDENT_BATCH_ASSIGNMENT_DB_URL=...
NOTE_DB_URL=...